docker.enabled = true

params {
  vcfsList = false
  plinkFile = false
  phenoFile = false
  phenoCol = false
  qFilter = '0.005:minor'
  sampleIDColinphenoFile = 'IID'
  traitType = 'binary'
  saigeStep1ExtraFlags = "--LOCO=FALSE"
  outdir = 'results'
  gwas_cat = 's3://lifebit-featured-datasets/projects/gel/gel-gwas/gwascat.csv'
}

process {
    container = 'lifebitai/gelgwas:1.0dev'

  withName: gwas_1_fit_null_glmm {
    container = 'wzhou88/saige:0.39'
  }
  withName: gwas_2_spa_tests {
    container = 'wzhou88/saige:0.39'
  }
  withName: create_report {
     cpus = 10
     memory = 20.GB
  }
}
