
manifest {
  name = 'lifebit-ai/gel-gwas'
  author = ''
  homePage = 'https://github.com/lifebit-ai/gel-gwas'
  description = ''
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
  version = ''
}

docker.enabled = true

process {
  cpus = 1
}

params {
  hapmap3_snplist = false
  ld_scores_tar_bz2 = false
  vcfs_list = false
  grm_plink_input = false
  pheno_col = false
  phenofile = false
  metadata = false
  query = false
  programme = false
  design_mode = false
  case_group = false
  continuous_var_transformation = 'None'
  continuous_var_aggregation = 'mean'
  q_filter = '0.005:minor'
  thres_m = '1e-5'
  thres_HWE = '1e-5'
  plink_keep_pheno = "s3://lifebit-featured-datasets/projects/gel/gel-gwas/testdata/nodata"
  trait_type = 'binary'
  saige_step1_extra_flags = "--LOCO=FALSE"
  outdir = 'results'
  gwas_cat = 's3://lifebit-featured-datasets/projects/gel/gel-gwas/gwascat.csv'
  post_analysis = false
  gwas_summary = false
  external_gwas_tag = 'external'
  output_tag = 'covid_1'
  top_n_sites = 200
  max_top_n_sites = 1000
  saige_filename_pattern = '.SAIGE.gwas.txt'
  gwas_cat_study_id  = false
  gwas_cat_study_size  = false
  gwas_catalogue_ftp = "https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/projects/gel/prs/ftp_locations_harmonized.csv"
  hapmap3_snplist = "https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/projects/gel/gel-gwas/assets/w_hm3.snplist"
  ld_scores_tar_bz2 = "https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/projects/gel/gel-gwas/assets/eur_w_ld_chr.tar.bz2"
}

process {
    container = 'lifebitai/gelgwas:1.1dev'

  withName: gwas_1_fit_null_glmm_qt {
    container = 'wzhou88/saige:0.39'
  }
  withName: gwas_1_fit_null_glmm_bin {
    container = 'wzhou88/saige:0.39'
  }
  withName: gwas_2_spa_tests {
    container = 'wzhou88/saige:0.39'
  }
    withName: munge_gwas_summary {
    container = 'lifebitai/ldsc-pipe:test'
  }
  withName: munge_gwas_cat_summary {
    container = 'lifebitai/ldsc-pipe:test'
  }
  withName: munge_saige_output {
    container = 'lifebitai/ldsc-pipe:test'
  }
  withName: genetic_correlation_h2 {
    container = 'lifebitai/ldsc-pipe:test'
  }
  withName: heritability {
    container = 'lifebitai/ldsc-pipe:test'
  }
  withName: create_report {
     cpus = 2
  }
  withName: genetic_correlation_h2_gwas_cat {
    container = 'lifebitai/ldsc-pipe:test'
  }
}

// Profiles

profiles {
  standard { includeConfig 'conf/test_binary_gwas_catalogue.config' }
  test_binary { includeConfig 'conf/test_binary.config' }
  test_binary_h2 { includeConfig 'conf/test_binary_h2.config' }
  test_binary_genetic_correlation_h2 { includeConfig 'conf/test_binary_genetic_correlation_h2.config' }
  test_binary_gwas_catalogue { includeConfig 'conf/test_binary_gwas_catalogue.config' }
  test_qt { includeConfig 'conf/test_qt.config' }
  test_qt_h2 { includeConfig 'conf/test_qt_h2.config' }
  test_qt_genetic_correlation_h2 { includeConfig 'conf/test_qt_genetic_correlation_h2.config' }
  test_qt_gwas_catalogue { includeConfig 'conf/test_qt_gwas_catalogue.config' }
}
