
manifest {
  name = 'lifebit-ai/gwas'
  author = ''
  homePage = 'https://github.com/lifebit-ai/gwas'
  description = ''
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
  version = ''
}

docker.enabled = true

process {
  cpus = 1
}

params {
  
  vcfs_list = false
  input_folder_location = null
  file_pattern = null
  file_suffix = "vcf.gz"
  index_suffix = "vcf.gz.csi"
  number_of_files_to_process = null

  grm_plink_input = false
  pheno_data = false
  covariate_cols = false

  q_filter = '0.005:minor'
  miss_test_p_threshold = '1e-5'
  variant_missingness = '0.01'
  hwe_threshold = '1e-5'
  hwe_test = 'midp'
  high_LD_long_range_regions = "$baseDir/assets/data/high-LD-regions-hg38-GRCh38.txt"

  ld_window_size = 50
  ld_step_size = 10
  ld_r2_threshold = 0.1

  run_pca = true
  number_pcs = 10

  trait_type = 'binary'
  saige_step1_extra_flags = "--LOCO=FALSE"
  outdir = 'results'
  gwas_cat = 's3://lifebit-featured-datasets/projects/gel/gel-gwas/gwascat.csv'
  phenotype_colname = "PHE"
  output_tag = null
  p_significance_threshold = 0.01
  top_n_sites = 200
  max_top_n_sites = 1000
  saige_filename_pattern = '.SAIGE.gwas.txt'
  config = 'conf/standard.config'
}

process {
    container = 'quay.io/lifebitai/gwas:1.2dev'

  withLabel: saige {
    container = 'quay.io/lifebitai/saige:0.39'
  }
  withName: create_report {
     cpus = 2
  }
}

// Profiles

profiles {
  standard {includeConfig params.config }
  test_binary { includeConfig 'conf/test_binary.config' }
  test_binary_prune_pca { includeConfig 'conf/test_binary_prune_pca.config' }
  test_binary_prune_no_pca { includeConfig 'conf/test_binary_prune_no_pca.config' }
  test_binary_with_input_folder { includeConfig 'conf/test_binary_with_input_folder.config' }
  test_qt { includeConfig 'conf/test_qt.config' }
}
