/*
 * -----------------------------------------------------------------
 *  lifebit-ai/phewas test config file
 * -----------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test
 */


docker.enabled = true

params  {

    grm_plink_input = "testdata/plink/sampleA.{bed,bim,fam}"
    phenofile = "https://gist.githubusercontent.com/mcamarad/e98cdd5e69413fb6189ed70405c43ef4/raw/d602bec4b31d5d75f74f1dbb408bd392db57bdb6/cohort_data_phenos.csv"
    metadata = "https://gist.githubusercontent.com/mcamarad/e98cdd5e69413fb6189ed70405c43ef4/raw/d602bec4b31d5d75f74f1dbb408bd392db57bdb6/metadata.csv"
    continuous_var_aggregation = "mean"
    continuous_var_transformation = "zscore"
    pheno_col = "Specimen type"
    design_mode = 'case_vs_control_contrast'
    case_group = "NOSE"
    trait_type = "binary"
    vcfs_list = "s3://lifebit-featured-datasets/projects/gel/gel-gwas/testdata/vcfs.csv"


    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
}