/*
 * -----------------------------------------------------------------
 *  lifebit-ai/gel-gwas test_binary_min_none_case_vs_control_contrast_genetic_correlation_h2 config file
 * -----------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test_qt_h2
 */


docker.enabled = true
includeConfig 'test_qt.config'

params  {

    outprefix = "test_"
    post_analysis = "heritability"
    hapmap3_snplist = "https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/projects/gel/gel-gwas/assets/w_hm3.snplist"
    ld_scores_tar_bz2 = "https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/projects/gel/gel-gwas/assets/eur_w_ld_chr.tar.bz2"


    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
}
