/*
 * -----------------------------------------------------------------
 *  lifebit-ai/gwas test config file
 * -----------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test_binary_with_input_folder

 */


docker.enabled = true

params  {

    grm_plink_input = "testdata/plink/sampleA.{bed,bim,fam}"
    pheno_data = "s3://lifebit-featured-datasets/projects/gel/gel-gwas/cb_binary_pheno.phe"
    trait_type = "binary"
    input_folder_location = "s3://lifebit-featured-datasets/projects/gel/gel-gwas/testdata/vcfs/"
    file_pattern = "sampleA"
    file_suffix = "vcf.gz"
    index_suffix = "vcf.gz.csi"
    number_of_files_to_process = 22


    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
}