/*
 * -----------------------------------------------------------------
 *  lifebit-ai/gwas test config file
 * -----------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test_binary_bgen

 */


docker.enabled = true

params  {

    grm_plink_input = "testdata/plink/sampleA.{bed,bim,fam}"
    pheno_data = "s3://marcos-lifebit/gel-gwas/cb_binary_pheno.phe"
    trait_type = "binary"
    genotype_files_list = "/home/ubuntu/git/gwas/bgen_files/bgen_design_file.csv"
    genotype_format = "bgen"
    bgen_sample_file = "/home/ubuntu/git/gwas/bgen_files/from_plink.sample"


    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
}