/*
 * -----------------------------------------------------------------
 *  lifebit-ai/gel-gwas test config file
 * -----------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test_qt
 */


docker.enabled = true

params  {

    grm_plink_input = "testdata/plink/sampleA.{bed,bim,fam}"
    sim_config_file = "testdata/sim_conf.yml"
    testing = 'yes'
    test_ids_column = 'Platekey_in_aggregate_VCF-0.0'
    continuous_var_aggregation = "mean"
    continuous_var_transformation = "zscore"
    pheno_col = "cont_col"
    trait_type = "quantitative"
    vcfs_list = "s3://lifebit-featured-datasets/projects/gel/gel-gwas/testdata/vcfs.csv"


    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
}