/*
 * -----------------------------------------------------------------
 *  lifebit-ai/gwas test config file
 * -----------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test_binary_bolt_lmm

 */


docker.enabled = true

params  {

    pheno_data = "s3://lifebit-gwas/testdata/vcf/6K/pheno_cov.tsv"
    trait_type = "binary"
    genotype_files_list = "s3://lifebit-gwas/testdata/vcf/6K/vcfs_6K_design_file.csv"
    bolt_lmm = true
    saige = false
    phenotype_colname = "phenotype"
    ld_scores = "s3://gwas-reference-files/bolt-lmm/LDSCORE.1000G_EUR.tab.gz"
    bolt_lmm_quant_covariates = "PC{1:10}"
    bolt_lmm_categ_covariates = "sex"


    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
}