/*
 * -----------------------------------------------------------------
 *  lifebit-ai/gel-gwas test config file
 * -----------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test_binary

 */


docker.enabled = true

params  {

    grm_plink_input = 's3://lifebit-featured-datasets/pipelines/simulate/ukb-simulated-results/simulated_hapgen-100000ind-updated.merged.*{bed,bim,fam}'
    pheno_data = "s3://lifebit-featured-datasets/projects/gel/gel-gwas/testdata/traits_design_matrix_control_all_case_2.phe"
    trait_type = "binary"
    vcfs_list = "s3://lifebit-featured-datasets/pipelines/simulate/ukb-simulated-results/vcfs_ukbio.csv"


    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
}