/*
 * -----------------------------------------------------------------
 *  lifebit-ai/phewas test config file
 * -----------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test_qt
 */


docker.enabled = true

params  {

    grm_plink_input = "testdata/plink/sampleA.{bed,bim,fam}"
    pheno_data = "https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/projects/gel/gel-gwas/cohort_data_phenos.csv"
    pheno_metadata = "https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/projects/gel/gel-gwas/metadata.csv"
    continuous_var_aggregation = "mean"
    continuous_var_transformation = "zscore"
    pheno_col = "Height (HCM)"
    trait_type = "quantitative"
    vcfs_list = "s3://lifebit-featured-datasets/projects/gel/gel-gwas/testdata/vcfs.csv"


    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
}