/*
 * -----------------------------------------------------------------
 *  lifebit-ai/phewas test config file
 * -----------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test_gwas_catalogue
 */

includeConfig 'test.config'

params  {

    post_analysis = "genetic_correlation_h2"
    gwas_cat_study_id = "GCST004420"
    gwas_catalogue_ftp = "https://raw.githubusercontent.com/lifebit-ai/prs/enable-usage-gwas-catalogue-stats/assets/ftp_locations_harmonized.csv"
  


    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
}