/*
 * -----------------------------------------------------------------
 *  lifebit-ai/gwas test config file
 * -----------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test_binary_bgen

 */


docker.enabled = true

params  {
    grm_plink_input = "testdata/plink/sampleA.{bed,bim,fam}"
    pheno_data = "https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/projects/gel/gel-gwas/cb_binary_pheno.phe"
    trait_type = "binary"
    genotype_files_list = "https://lifebit-gwas.s3-eu-west-1.amazonaws.com/testdata/bgen/bgen_files.csv"
    genotype_format = "bgen"
    bgen_sample_file = "https://lifebit-gwas.s3-eu-west-1.amazonaws.com/testdata/bgen/all_chr.sample"
    p_significance_threshold = 0.5


    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
}