/*
 * -----------------------------------------------------------------
 *  lifebit-ai/gwas test config file
 * -----------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile test_binary_regenie

 */


docker.enabled = true

params  {

    pheno_data = "s3://marcos-lifebit/gel-gwas/cb_binary_pheno.phe"
    trait_type = "binary"
    genotype_files_list = "s3://lifebit-featured-datasets/projects/gel/gel-gwas/testdata/vcfs.csv"
    bolt_lmm = false
    regenie = true
    saige = false
    phenotype_colname = "PHE"
    covariate_cols = "participant_phenotypic_sex"


    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
}